<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Continues User Authentication</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   </head>
   <body>
      <div class="container ">
         <h2 class="text-center">Welcome</h2>
         <form action="/submit-story" method="post">
            <div class="form-group">
               <label for="story">Story</label>
               <textarea class="form-control" name="story" rows="16" placeholder ="Start Writting" id="wrttingPad"></textarea>
            </div>
         </form>
      </div>
   </body>
   <script type="application/javascript" src="{{url_for('static', filename='js/key_strok.js')}}"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <script>
      setInterval(function(){
         let userBiometrics = new Keystrock('User 1');
         let totalVal = sum(userBiometrics);
         console.log(`Total: ${totalVal}`)
         if(parseInt(totalVal) > 0)
         {
            $.ajax({
               url: "auth",
               type: "POST",
               dataType: 'json',
               contentType:"application/json; charset=UTF-8",
               data: JSON.stringify(userBiometrics),
               success: function(data) {
                  successmessage = 'Data was succesfully captured';
               },
            })
            .done(function(data) {
               // do stuff here
            })
            .fail(function(err) {
                  // do stuff here
            })
            .always(function(info) {
                  // do stuff here
            });
      }

        function sum(object) {
            let total = 0;
            for (var property in object) 
            {
               let value = object[property];
               if(isNaN(value) != true)
               {
                  total += value;
               }
            }
            return total;
         }
         
         console.log(userBiometrics)
},5000);
   </script>
</html>