<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Continues User Authentication</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   </head>
   <body>
      <div class="container">
         <h2 class="text-center">Welcome, 
            {% if g.profile != Null %}
               {{g.profile.userName}}
            {% endif %}
         </h2>
         <div class="row">
            <div class="col-xl-6 col-lg-6">
                <p class="text-left">
                    <a href="{{url_for('dashboard')}}" class="btn btn-info btn-md">
                      <span class="glyphicon glyphicon-edit"></span> Write
                    </a>
                  </p> 
            </div>
            <div class="col-xl-6 col-lg-6">
                <p class="text-right">
                    <a href="{{url_for('logout')}}" class="btn btn-info btn-md">
                      <span class="glyphicon glyphicon-log-out"></span> Log out
                    </a>
                  </p> 
            </div>
         </div>
         <div class='embed-responsive' style='padding-bottom:150%'>
            <object data='{{url_for("static", filename="file/pdf_custom.pdf")}}' type='application/pdf' width='100%' height='100%'></object>
        </div>
      </div>
   </body>
   <script type="application/javascript" src="{{url_for('static', filename='js/mouse.js')}}"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <script>
      setInterval(function(){
         let mouseBiometrics = new MousedynamicS();
         let totalVal = sum(mouseBiometrics);
         let counter = 0;

         if(parseInt(totalVal) > 0)
         {
            $.ajax({
               url: "mouseauth",
               type: "POST",
               dataType: 'json',
               contentType:"application/json; charset=UTF-8",
               data: JSON.stringify(mouseBiometrics),
               success: function(data) {
                  successmessage = 'Data was succesfully captured';
                  print(data)
               },
            })
            .done(function(data) {
               // do stuff here
            })
            .fail(function(err) {
                  // do stuff here
            })
            .always(function(info) {
                  // do stuff here
            });
      }

        function sum(object) {
            let total = 0;
            for (var property in object) 
            {
               let value = object[property];
               if(isNaN(value) != true)
               {
                  total += value;
               }
            }
            return total;
         }
         
         console.log(mouseBiometrics)
},10000);
   </script>
</html>